<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTL Indumentaria</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="grid-container">
    <nav class="nav">
        <a href="../index.html">    
            <img src="../recursos/img/logo catt.png" alt="">     
        </a>
        <ul class="ul__lia">
            <li><a href="../views/productos.html" class="ul__lia">Productos</a>
            </li>
            <li><a href="../views/quienessomos.html" class="ul__lia">Quienes somos</a>
            </li>
            <li><a href="../views/contacto.html" class="ul__lia">Contacto</a>
            </li>
            <li><a href="../views/promos.html" class="ul__lia">Promos</a>
            </li>
        </ul>

    </nav>

    </nav>
    <header class="header">
        <h1 class="text-center">Productos</h1>
        <h3 class="text-center">Opciones de estampa</h3>
        <div class="productos">
            <figure class="figure">
                <img src="../recursos/img/flash7.png" alt="">
                <figcaption>$Ornamental$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/verde.png" alt="">
                <figcaption>$Model Ornamental$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash8.png" alt="">
                <figcaption >$Ornamental$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash9.png" alt="">
                <figcaption>$Mini Mandala$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/header.png" alt="">
                <figcaption>$Model Mandala$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash11.png" alt="">
                <figcaption>$Mandala Puntillismo$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash12.png" alt="">
                <figcaption>$Mandala PUntillismo$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/modelo blanca.png" alt="">
                <figcaption>$Model Blanca$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash15.png" alt="">
                <figcaption>$Flor Ornamental$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash16.png" alt="">
                <figcaption>$Peonia$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash17.png" alt="">
                <figcaption>$Abstract$</figcaption>
            </figure>
            <figure class="figure">
                <img src="../recursos/img/flash18.png" alt="">
                <figcaption>$Ornamental$</figcaption>
            </figure>
        </div>
    </header>
    <main class="main">
        <div class="div-2">
            <table border="1px" class="table">
                <tr>
                    <td><b>Talle</b></td>
                    <td><b>Color</b></td>
                    <td><b>Diseño</b></td>
                </tr>
                <tr>
                    <td>XXXL</td>
                    <td>Verde</td>
                    <td>Ornamental</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>blanca</td>
                    <td>Mand/Puntillismo</td>
                </tr>
                <tr>
                    <td>XL</td>
                    <td>Negra</td>
                    <td>Abstract</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>Verde</td>
                    <td>Peonia</td>
                </tr>
            </table>
        </div>      
    </main>

     
    <footer class="footer">
        <div class="section-2">
            <img src="../recursos/img/logo catt.png" alt="logo health couch">
        </div>
        <a href="https://www.facebook.com" target="_blank">
        <img src="../recursos/img/facebook.png" alt="">

        </a>
        <a href="https://instagram.com/cattalunia_" target="_blank">
            <img src="../recursos/img/instagram.png" alt="">
        
        </a>
        <a href="https://www.tiktok.com" target="_blank">
            <img src="../recursos/img/tik-tok.png" alt="">
        </a>
        <br>

    </footer>
    
    
</body>
</html>