<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTL Indumentaria</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="grid-container">
    <nav class="nav">
        <a href="../index.html">    
            <img src="../recursos/img/logo catt.png" alt="">     
        </a>
        <ul class="ul__lia">
            <li><a href="../views/productos.html" class="ul__lia">Productos</a>
            </li>
            <li><a href="../views/quienessomos.html" class="ul__lia">Quienes somos</a>
            </li>
            <li><a href="../views/contacto.html" class="ul__lia">Contacto</a>
            </li>
            <li><a href="../views/promos.html" class="ul__lia">Promos</a>
            </li>
        </ul>

    </nav>
    <header class="header">
        <h1 class="text-center">Promos</h1>
        <h3 class="text-center">50% off</h3>
        <div class="productos">
            <figure>
                <img src="../recursos/img/flash7.png" alt="">
                <figcaption class="figure">$Ornamental$</figcaption>
            </figure>
            <figure>
                <img src="../recursos/img/verde.png" alt="">
                <figcaption class="figure">$Model Ornamental$</figcaption>
                <p>15%off Xmayor</p>
            </figure>
            <figure>
                <img src="../recursos/img/flash8.png" alt="">
                <figcaption class="figure">$Ornamental$</figcaption>
            </figure>
            <figure>
                <img src="../recursos/img/flash9.png" alt="">
                <figcaption class="figure">$Mini Mandala$</figcaption>
            </figure>
            <figure>
                <img src="../recursos/img/header.png" alt="">
                <figcaption class="figure">$Model Mandala$</figcaption>
                <p>10%off combinando diseño</p>
            </figure>
            <figure>
                <img src="../recursos/img/flash11.png" alt="">
                <figcaption class="figure">$Mandala Puntillismo$</figcaption>
            </figure>
        </div>
    </header>
    <footer class="footer">
        <div class="section-2">
            <img src="../recursos/img/logo catt.png" alt="logo health couch">
        </div>
        <a href="https://www.facebook.com" target="_blank">
        <img src="../recursos/img/facebook.png" alt="">

        </a>
        <a href="https://instagram.com/cattalunia_" target="_blank">
            <img src="../recursos/img/instagram.png" alt="">
        
        </a>
        <a href="https://www.tiktok.com" target="_blank">
            <img src="../recursos/img/tik-tok.png" alt="">
        </a>
        <br>

    </footer>
    
</body>
</html>