<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTL Indumentaria</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="grid-container">
    <nav class="nav">
        <a href="../index.html">    
            <img src="../recursos/img/logo catt.png" alt="">     
        </a>
        <ul class="ul__lia">
            <li><a href="../views/productos.html" class="ul__lia">Productos</a>
            </li>
            <li><a href="../views/quienessomos.html" class="ul__lia">Quienes somos</a>
            </li>
            <li><a href="../views/contacto.html" class="ul__lia">Contacto</a>
            </li>
            <li><a href="../views/promos.html" class="ul__lia">Promos</a>
            </li>
        </ul>

    </nav>
    <header class="header">
        <h1 class="">Quienes somos</h1>
       <p class="p-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quibusdam reprehenderit eum hic optio cum assumenda quidem adipisci, labore beatae asperiores in magnam rerum autem ipsam temporibus. Tempora, mollitia amet!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur esse iusto ducimus pariatur ut iste voluptatum perferendis, natus magni laboriosam laborum illo, officiis a obcaecati explicabo fugiat minus quisquam quam!
            Voluptates, nemo velit modi recusandae distinctio quia minima sequi praesentium nihil soluta voluptas quo ex earum minus ipsum totam corporis necessitatibus! Veniam nisi dicta explicabo sint. Facilis aspernatur cum quia!
        </p>
       <div class="text-center">
           <video src="../recursos/video/videoremes.mp4" controls=""> 
                    
            </video>
       </div>
    </header>
    <footer class="footer">
        <div class="section-2">
            <img src="../recursos/img/logo catt.png" alt="logo health couch">
        </div>
        <a href="https://www.facebook.com" target="_blank">
        <img src="../recursos/img/facebook.png" alt="">

        </a>
        <a href="https://instagram.com/cattalunia_" target="_blank">
            <img src="../recursos/img/instagram.png" alt="">
        
        </a>
        <a href="https://www.tiktok.com" target="_blank">
            <img src="../recursos/img/tik-tok.png" alt="">
        </a>
        <br>

    </footer>
    
</body>
</html>